body{
    background-color: rgb(147, 255, 213);
}

.nav{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.logo{
    justify-self: center;
    grid-column: 1;
}

.title{
    justify-self: center;
    font-size: xx-large;
    grid-column: 4;
}
    