@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    background-color: #141414;
    color: #FFE5FF;
    font-family: 'Poppins', sans-serif;
}
.nav{
    background-color: #0E0E0E;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 10px;
    margin: 0px;
    margin-bottom: 40px;
    padding: 10px;
    box-shadow: 0px 20px 18px -22px #7b7b7b60;
}
.slidebtn{
    grid-column: 4;
    background: #00ffffe1;
    border-color: #00fff2;
    border-radius: 10px;
    padding: 8px;
    width: fit-content;
}
.logo{
    justify-self: center;
    grid-column: 1;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.171);
}
.title{
    justify-self: center;
    font-size: 30px;
    grid-column: span 2;
}
.cont{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.info {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-color: #0E0E0E;
    height: fit-content;
    justify-self: center;
    justify-content: center;
    align-self: center;
    grid-column: 1;
    font-size: larger;
    border-radius: 10px;
    height: 300px;
    width: 450px;
}
.welcome {
    width: fit-content;
    grid-row: 1;
    font-size: x-large;
    justify-self: center;
    align-self: center;
}
.input{
    grid-row: 2;
    height: 25px;
    width: 200px;
    justify-self: center;
    align-self: center;
    border-radius: 5px;
    background-color: #00FFFF;
    border-color: #00FFFF;
}
.inputbtn{
    grid-row: 3;
    height: 25px;
    width: 30px;
    justify-self: center;
    border-radius: 5px;
    background-color: #00FFFF;
    border-color: #00FFFF;
}
.points{
    grid-row: 4;
    align-self: center;
    justify-self: center;
    background: linear-gradient(#FF00FF, #B300B2);
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
}
.jgr{
    display: grid;
    grid-row: 1;
    grid-column: 2;
    width: 70px;
    height: 70px;
    align-self: center;
    justify-self: center;
    background: linear-gradient(#FF00FF, #B300B2);
    border-color: #FF00FF;
    border-radius: 100%;
    padding: 0;
}
.jgrgrey{
    display: grid;
    grid-row: 1;
    grid-column: 2;
    width: 70px;
    height: 70px;
    align-self: center;
    justify-self: center;
    background: linear-gradient(#616061, #adacad);
    border-color: #FF00FF;
    border-radius: 100%;
    padding: 0;
}
.jgrtext{
    font-family: 'Poppins', sans-serif;
    justify-self: center;
    align-self: center;
}
.btns {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}
@media (max-width: 880px) {
    .nav{
        margin-bottom: 10px;
    }
    .btns {
        grid-column: 1;
        grid-row: 2;
    }
    .jgr {
        grid-column: 1;
        grid-row: 2;
    }
    .jgr.grey {
        grid-column: 1;
        grid-row: 2;
    }
    .cont{
        grid-template-columns: repeat(1, 1fr);
    }
}
.skye{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 40%;
    border-color: #00FFFF;
    background-color: #00FFFF;
}
.skye.active{
    box-shadow: 0px 0px 15px 15px rgb(0, 255, 255);
}
.skye:active{
    box-shadow: 0px 0px 15px 15px rgba(0, 255, 255, 0.849);
}
.red{
    border-radius: 10px;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 100%;
    border-color: #d90429;
    background-color: #d90429;
}
.red.active{
    box-shadow: 0px 0px 15px 15px #d90429;
}
.red:active{
    box-shadow: 0px 0px 15px 15px #d90427ce;
}
.green{
    border-radius: 10px;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 40%;
    border-color: #7FFF00;
    background-color: #7FFF00;
}
.green.active{
    box-shadow: 0px 0px 15px 15px #7FFF00;
}
.green:active{
    box-shadow: 0px 0px 15px 15px #80ff00d8;
}
.pink{
    border-radius: 10px;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 100%;
    border-color: #FF4081;
    background-color:#FF4081;
}
.pink.active{
    box-shadow: 0px 0px 15px 15px #FF4081;
}
.pink:active{
    box-shadow: 0px 0px 15px 15px #ff4080c4;
}
.foot{
    border-radius: 10px;
    background-color: #0E0E0E;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-radius: 10px;
    margin: 0px;
    margin-bottom: 40px;
    padding: 10px;
    box-shadow: 0px -20px 18px -22px #7b7b7b60;
}

.hidslide {
    opacity: 0;
    visibility: hidden;
    transition: right 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    position: absolute;
}

.showslide {
    opacity: 1;
    position: relative;
    visibility: visible;
    background-color: #313131;
    height: fit-content;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    transition: right 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}
